
#general things to ignore
practicePlotting.jl
Lab Report 1 Gather
.png
.csv
.DS_Store

# ignoring all the icloud data files
.run7.csv.icloud
.run4.csv.icloud
.run5.csv.icloud
.run6.csv.icloud
.run8.csv.icloud
.run9.csv.icloud
.run10.csv.icloud






